*:focus{
   outline: 2px solid #5E9ED6;
}

body {
   width: 100vi;
   height: 100vb;
   
   min-height: 100vb;
      
   line-height: 1.5em;
	color: black;
    
   font-family: Georgia, "Times New Roman", serif;
   font-size: 14pt;
}

#content-container {
   position: relative;
   min-height: 100vh;
}

main {
   margin: 3rem 10ch 0 3ch;
   text-align: justify;
   padding-bottom: 3rem;
}

#copyright {
   position: absolute;
   bottom: 0px;
   height: 1.5rem;
}
