/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-family: inherit;
  font-weight: normal;
  margin-top: 5px;
}

td, tr {
  margin: 5px;  
  padding: 5px;
}

#rate {
  min-width: 400px; 
  width: 50%;
}

.speak, input {
    font-size: 30px;
    border-radius: 10px;
}

input.valid {
    border: 4px solid green;
}

input.invalid {
    border: 4px solid red;
}